<form action="/dashboard/add-category" method="POST">
  <div class="field">
    <label class="label">Category</label> <input class="input" type="text" placeholder="Enter category type" name="category">
  </div>
  <button class="button is-link">Create Category</button>
</form>
